{% block title %}<i class="white-text">Customers List</i>{% endblock %}
{% extends 'base.html.twig' %}




{% block content %}
    
     <div class="input-field">     
         <input type="text" id="tags" class="autocomplete">
            <label for="autocomplete-input">SEARCH</label>
     </div>
    <ul class="collection">
    {% for client in clients %}
        <li class="collection-item avatar">
      <img src="" alt="" class="circle"> 
      <span class="title">{{ client.contactname }}</span>
      <p>{{ client.company }}<br>
         {{ client.phoneNumber }}
      </p>
      <a href="{{ path('client_show', { 'id': client.id }) }}" class="secondary-content"><i class="material-icons">grade</i></a>
      
    </li>
    {% endfor %}
        
        </ul>
    
    
    
{% endblock %}
