{% extends 'base.html.twig' %}

{% block content %}
    {% form_theme form 'materialize_form_theme.html.twig' %} 
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
    <p class="center-align">
     <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
     </button>
    </p>
    
{% endblock %}